<launch>
  <arg name="device" default="/dev/ttyACM0"/>
  <arg name="robot_name" default="beego"/>
  <arg name="port" default="9090"/>
  <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" args="_port:=$(arg port)"/>
  <node pkg="ypspur_ros" type="ypspur_ros" name="ypspur_ros" required="true">
      <param name="param_file" value="/home/yahagi-k/researches/programs/platform/yp-robot-params/robot-params/beego.param"/>
      <param name="port" value="/dev/serial/by-id/usb-T-frog_project_T-frog_Driver-if00"/>
      <param name="compatible" value="1"/>
      <param name="odom_id" value="odom"/>
      <param name="base_link_id" value="base_link"/>
  </node>
  <node pkg="voice_controlled_robot" type="voice_controlled_robot_node.py" name="voice_controlled_robot_node" output="screen"/>

</launch>